
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Institute Of Fine Arts</title>
    <!-- BOOTSTRAP STYLES-->
    <link href="~/Content/assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="~/Content/assets/fonts/font-awesome.min.css" rel="stylesheet" />
    <!-- MORRIS CHART STYLES-->
    @*<link href="~/Content/assets/js/morris/morris-0.4.3.min.css" rel="stylesheet" />*@
    <!-- CUSTOM STYLES-->
    @*<link href="~/Content/assets/js/dataTables/dataTables.bootstrap.css" rel="stylesheet" />*@

    <link href="~/Content/assets/css/custom.css" rel="stylesheet" />
</head>

<body>

    <div class="container-fluid">
        <h1 class="exe_header text-center">Exibitions</h1>
        @RenderBody()
    </div>


    <script src="~/Content/assets/js/jquery-1.10.2.js"></script>
    <script src="~/Content/assets/js/jquery.metisMenu.js"></script>
    <script src="~/Content/assets/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/custom.js"></script>
</body>



</html>